*.egg-info/
*.egg
__pycache__/
stashed/
playground*.ipynb
playground.ipynb
*.swp
*.gif
*.pdf
data/
checkpoints/
notebooks/
.github/
*.png
wandb
*.csv
*.pkl
tmp/
*/__pycache__
*.
src/*/config.yaml
results/
