*.egg-info/
*.egg
__pycache__/
stashed/
playground*.ipynb
playground.ipynb
*.swp
*.gif
*.pdf
data/
checkpoints/
notebooks/
.github/
*.png
wandb
*.csv
*.pkl
tmp/
*.
src/*/config.yaml
results/
mas/aflow/logs/*
mas/aflow/workspace/*
mas/aflow/*.txt
**/results*/
**/*result*
